<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649500294132-2pbn15rs1pda12s1ah1jte7j12ndntg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649500294132-2pbn15rs1pda12s1ah1jte7j12ndntg8</string>
	<key>API_KEY</key>
	<string>AIzaSyAyXVEyEvKShplob5rl01NoSrPbwDVMBlU</string>
	<key>GCM_SENDER_ID</key>
	<string>649500294132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saramsvi.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authenticationapp-d17d6</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationapp-d17d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649500294132:ios:36c6ba7c2f4523e40317a1</string>
</dict>
</plist>